body{
	height:100vh;
	margin:0 0 0 0;
}

.container {
	width: 100%;
	height: 100%;

}

.container {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	transition: background-image 1s ease-in;
}